@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--white: hsl(0, 0%, 100%);
--slate3: hsl(212, 45%, 89%);
--slate5: hsl(216, 15%, 48%);
--slate9: hsl(218, 44%, 22%);
}
img {
    max-width:100%;
}

body{
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    background-color: var(--slate3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 1px);
    margin: 1.25rem;    
    overflow: hidden;
}
.container{
    background-color: var(--white);
    padding: 1.5em;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.01);
    margin-bottom: 2rem;
}

.container img{
    border-radius: 1rem;
    margin-bottom: 1rem;
}
 
.container h1{
    color: var(--slate9);
    text-align: center;
    margin-bottom: 1rem;
}

.container p{
    color: var(--slate5);
    text-align: center;
    margin-bottom: 1rem;

}

.attribution { font-size: 12px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }   

@media (min-width:500px ){
    .container{
        width:400px;
    }
}